<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><b>उत्पादनं</b> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card>
    <ion-slides pager="true">
      <ion-slide>
          <h1>Slide 1</h1>
      </ion-slide>

      <ion-slide>
          <h1>Slide 2</h1>
      </ion-slide>

      <ion-slide>
          <h1>Slide 3</h1>
      </ion-slide>
  </ion-slides>
  </ion-card>


</ion-content>

