<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title><b>Welcome</b> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="center" >
    <div align="center">
      <img src="assets/img/about/surachita.jpeg" alt="Ionic logo" height="200px">
      </div>

     <div align="center">
       <h1><b>सुरचिता ऍग्रो  कंपनी मध्ये आपले स्वागत आहे .</b><i></i></h1>
       <br>
       <div align="center">
        <img src="assets/img/about/Namaste.png" alt="Ionic logo" height="200px">
        </div>
    </div>


    <ion-fab-button  size="large" translucent="true" color="dark"  routerLink="/crop-list">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>

  </div>
</ion-content>
