<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>खरेदी</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="kharedi-logo" align="center">
    <img src="assets/img/about/surachita.jpeg" height="200px" width="200px">
  </div>
  <div align="center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScH17YTdd9ZpjJYe6AV6R3Ygf8EF37BjCKmO4xwr0nvFT4deQ/viewform?embedded=true" width="100%" height="900px" frameborder="0" marginheight="0" marginwidth="1">Loading…</iframe>
  </div>

</ion-content>
